importFrom(XML, newXMLNode, newXMLDoc, 
           newXMLCommentNode,saveXML,newXMLNamespace, xmlAttrs)
importFrom(XLConnect,readWorksheetFromFile)
importFrom(utils, read.table, write.table, zip)
export(.addConcepts, .addInfo, .addSlices, .addTables, .addTopics)
export(.checkDuplConcepts, .checkPath, .checkSlices, checkTimeFormat, .joda.times)
export(.fixType, .cleantext, .getFilesNames)
export(genMoreInfo, .getMoreInfo)
export(dspl)

S3method(print, dspl)
S3method(summary, dspl)