importFrom(XML)
importFrom(xlsx)

export(addConcepts, addInfo, addSlices, addTables, addTopics)
export(checkDuplConcepts, checkPath, checkSlices)
export(fixType, cleantext, getFilesNames)
export(genMoreInfo, getMoreInfo)
export(dspl)